
body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}

ul {
    list-style: none;
}

/*header*/

.site-nav a{
    text-decoration: none;
    color: #212121; 
}

.site-nav a:hover,
.site-nav a:focus  {
    color: #2196F3;
}

.logo-header {
    font-family:'Raleway', sans-serif;
    color: black;
    text-decoration: none; 
    
}
.logo-hc {
    font-family:'Raleway', sans-serif;
    color: #2196F3;
}

.contacts-link a {
    text-decoration: none;
    color: #757575;
    
    }

.contacts-link a:hover,
.contacts-link a:focus {
    color: #2196F3;
}

/* main */

.page {
    background-color: #2F303A;
     }

     .title {
        font-weight: 900;
        font-size: 44px;
        line-height: 116%;
        color: #FFFFFF;
    }

.page > button {
    color: #FFFFFF;
    background-color: #2196F3;
    cursor: pointer;
}

.list-caption {
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    color: #212121;
}

.list-text {
    font-size: 14px;
    line-height: 146%;
    color: #757575;
}

.heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: #212121;
}

.items-caption {

    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #212121;
}

.items-text {
    font-size: 16px;
    line-height: 100%;
    color: #757575;
}


.btn > button {
    color: #212121;
    background-color: #F5F4FA;
}

.btn  button:hover,
.btn button:focus {
    color: #fff;
    background-color: #2196F3;
    cursor: pointer;
}


/*footer*/
footer {
    background-color: #2F303A;
    
}

.logo-footer {
    font-family:'Raleway', sans-serif;
    color: #fff;
    text-decoration: none; 
    
}

.logo-fc {
    font-family:'Raleway', sans-serif;
    color: #2196F3;
}

.color-contact {
    color: #fff;
}

.color-contact:hover,
.color-contact:focus {
    color: #2196F3;
}
