/*цвет основного текста #212121*/
/*вторичный цвет текста #757575/
/*белый #FFFFFF*/
/*акцент #2196F3*/

:root {
  --primary-text-color:#757575;
  --title-text-color:#212121;
  --accent-color:#2196F3;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #FFFFFF;
    color: var(--primary-text-color);
}

ul {
    list-style: none;
}

/*header*/
.logo-header {
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: black;
    text-decoration: none; 
    
}
.logo-color {
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

/*site-nav*/

.site-nav .link{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color); 
}

.site-nav .link:hover,
.site-nav .link:focus  {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}



/*contacts*/

.contacts-link a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    
    }

.contacts-link a:hover,
.contacts-link a:focus {
    color: var(--accent-color);
}

/* main */

/*hero*/

.hero {
    background-color: #2F303A;
     }

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    color: #FFFFFF;
    }

.hero > button {
    font-family: i;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--accent-color);
    cursor: pointer;
}

/*list*/

.list-caption {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.list-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

/*item*/

.items-caption {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.items-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/*button*/
.btn > button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: #F5F4FA;
}

.btn button:hover,
.btn button:focus {
    color: #fff;
    background-color: var(--accent-color);
    cursor: pointer;
}

/*item*/
.subject {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}


/*footer*/
footer {
    background-color: #2F303A;
    
}

.logo-footer {
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #fff;
    text-decoration: none; 
 
}

.contact-link a {
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.6);

}

.contact-link a:hover,
.contact-link a:focus {
    color: var(--accent-color);
}
.color-contact {
    color: #fff;
}

.color-contact:hover,
.color-contact:focus {
    color: var(--accent-color);
}
